<div class="footer">
    <div class="footer-copyright">
        <img class="italy-flag" src="header-images/header-logo.png">
        <spann>© Copyright</spann>
    </div>
    <div class="footer-line">
        <a id="link5" href="datenschutz.html" target="_blank">Datenschutz</a> |
        <a id="link6" href="impressum.html" target="_blank">Impressum</a> |
        <a id="link7" href="#">Cookie-Richtlinien</a>
    </div>
    <div class="footer-icons">
        <a href="#"><img src="icon-img/facebook-3-48.png"></a>
        <a href="#"><img src="icon-img/whatsapp-48.png"></a>
        <a href="#"><img src="icon-img/instagram-3-48.png"></a>
    </div>


</div>