<div class="header">

    <div class="header-color-green">
        <img class="logo-size" src="header-images/header-logo.png" alt="Kochwelt">
    </div>

    <nav class="header-color-white navbar a navbar a:hover">
        <a id="link1" href="index.html">Start</a> |
        <a id="link2" href="#text2">Rezept des Tages</a> |
        <a id="link3" href="#headline3">Kontakte</a> |
        <a id="link4" href="impressum.html" target="_blank">Impressum</a>
    </nav>


    <div class="header-color-red">
        <a onclick="german()" href="#"><img class="flags" src="header-images/german-flag.png"></a> |
        <a onclick="italien()" href="#"><img class="flags" src="header-images/italy-flag.png"></a> |
        <a onclick="english()" href="#"><img class="flags" src="header-images/english-flag.png"></a>
    </div>

</div>